<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @emp_master.First_Name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @emp_master.Middle_Name %>
</p>

<p>
  <b>Last name:</b>
  <%= @emp_master.Last_Name %>
</p>

<p>
  <b>Dob:</b>
  <%= @emp_master.DOB %>
</p>

<p>
  <b>Martial status:</b>
  <%= @emp_master.Martial_Status %>
</p>

<p>
  <b>Gender:</b>
  <%= @emp_master.Gender %>
</p>

<p>
  <b>Blood group:</b>
  <%= @emp_master.Blood_Group %>
</p>

<p>
  <b>Nationality:</b>
  <%= @emp_master.Nationality %>
</p>

<p>
  <b>Languages known:</b>
  <%= @emp_master.Languages_Known %>
</p>

<p>
  <b>Qualification:</b>
  <%= @emp_master.Qualification %>
</p>

<p>
  <b>Certificate details:</b>
  <%= @emp_master.Certificate_Details %>
</p>

<p>
  <b>Band:</b>
  <%= @emp_master.Band %>
</p>

<p>
  <b>Designation:</b>
  <%= @emp_master.Designation %>
</p>

<p>
  <b>Employee role:</b>
  <%= @emp_master.Employee_Role %>
</p>

<p>
  <b>Category id:</b>
  <%= @emp_master.Category_Id %>
</p>

<p>
  <b>Department name:</b>
  <%= @emp_master.Department_Name %>
</p>

<p>
  <b>Sub department name:</b>
  <%= @emp_master.Sub_Department_Name %>
</p>

<p>
  <b>Blackberry no:</b>
  <%= @emp_master.Blackberry_No %>
</p>

<p>
  <b>Joining date:</b>
  <%= @emp_master.Joining_Date %>
</p>

<p>
  <b>Industry experience:</b>
  <%= @emp_master.Industry_Experience %>
</p>

<p>
  <b>Organisation experience:</b>
  <%= @emp_master.Organisation_Experience %>
</p>

<p>
  <b>Reporting manager:</b>
  <%= @emp_master.Reporting_Manager %>
</p>

<p>
  <b>Counter signing manager:</b>
  <%= @emp_master.Counter_Signing_Manager %>
</p>

<p>
  <b>Domain:</b>
  <%= @emp_master.Domain %>
</p>

<p>
  <b>Primary technology:</b>
  <%= @emp_master.Primary_Technology %>
</p>

<p>
  <b>Secondary technology:</b>
  <%= @emp_master.Secondary_Technology %>
</p>

<p>
  <b>Employment type:</b>
  <%= @emp_master.Employment_Type %>
</p>

<p>
  <b>Billing details:</b>
  <%= @emp_master.Billing_Details %>
</p>

<p>
  <b>Seat no:</b>
  <%= @emp_master.Seat_No %>
</p>

<p>
  <b>Floor no:</b>
  <%= @emp_master.Floor_No %>
</p>

<p>
  <b>Billing status:</b>
  <%= @emp_master.Billing_Status %>
</p>

<p>
  <b>Ex office ext:</b>
  <%= @emp_master.Ex_Office_Ext %>
</p>

<p>
  <b>Tenth percentage:</b>
  <%= @emp_master.Tenth_Percentage %>
</p>

<p>
  <b>Twelvth percentage:</b>
  <%= @emp_master.Twelvth_Percentage %>
</p>

<p>
  <b>Graduation percentage:</b>
  <%= @emp_master.Graduation_Percentage %>
</p>

<p>
  <b>Overall experience:</b>
  <%= @emp_master.Overall_Experience %>
</p>

<p>
  <b>Email:</b>
  <%= @emp_master.Email_id %>
</p>

<p>
  <b>Mobile no:</b>
  <%= @emp_master.Mobile_No %>
</p>

<p>
  <b>Emergency contact person:</b>
  <%= @emp_master.Emergency_Contact_Person %>
</p>

<p>
  <b>Emergency contact no:</b>
  <%= @emp_master.Emergency_Contact_No %>
</p>

<p>
  <b>Address line1:</b>
  <%= @emp_master.Address_Line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @emp_master.Address_Line2 %>
</p>

<p>
  <b>Address line 3:</b>
  <%= @emp_master.Address_Line_3 %>
</p>

<p>
  <b>Employee location:</b>
  <%= @emp_master.Employee_Location %>
</p>

<p>
  <b>Passport no:</b>
  <%= @emp_master.Passport_No %>
</p>

<p>
  <b>Passport issue date:</b>
  <%= @emp_master.Passport_Issue_Date %>
</p>

<p>
  <b>Passport issue place:</b>
  <%= @emp_master.Passport_Issue_Place %>
</p>

<p>
  <b>Passport expiry date:</b>
  <%= @emp_master.Passport_Expiry_Date %>
</p>

<p>
  <b>Ecnr status:</b>
  <%= @emp_master.ECNR_Status %>
</p>

<p>
  <b>Visa details:</b>
  <%= @emp_master.Visa_Details %>
</p>

<p>
  <b>Pan card:</b>
  <%= @emp_master.PAN_Card %>
</p>


<%= link_to 'Edit', edit_emp_master_path(@emp_master) %> |
<%= link_to 'Back', emp_masters_path %>
